.containerCard{
    margin-left: 64px;
    list-style-type: none;
    /* width: 100% */
}

.list{
    display: flex;
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    width: 100%;
    margin-bottom: 32px;
}

